<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <section name="authenticationMiddleware" type="Api.Common.Configurations.AuthenticationModulesConfigurationSection,Api.Common" />
    <section name="sidekickDelegatingHandlers" type="Api.Common.Configurations.DelegatingHandlersConfigurationSection,Api.Common" />
    <section name="httpApiHandlersSection" type="Api.Common.Configurations.HttpApiHandlersConfigurationSection,Api.Common" />
    <section name="sidekickEventHandlers" type="Api.Common.Configurations.EventHandlersConfigurationSection,Api.Common" />
 <section name="mediaTypeFormatters" type="Api.Common.Configurations.MediaFormatterConfigurationSection, Api.Common" />
 
  </configSections>
  <appSettings>
     <add key="AppName" value="Sidekick API Server" />
    <add key="ProductName" value="Sidekick" />
    
    <add key="ApiState" value="Alive" />

    <!--main API endpoint-->
    <add key="Core.ApiEndpoint" value="http://localhost:5342" />

    <!--sets the maximum number of requests that will be queued in Http.Sys-->
    <add key="Owin.RequestQueueLimit" value="67000" />
    <!--the maximum number of pending requests the OWIN server receives-->
    <add key="Owin.MaxAccepts" value="53000" />
    <!--the maximum number of active OWIN requests being processed-->
    <add key="Owin.MaxRequests" value="22000" />
    
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=sidekick;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="99000" />
    </connectionManagement>
  </system.net>
  <authenticationMiddleware>
    <modules>
      <add name="BasicAuthentication" type="ApiAuthentication.BasicAuthentication, ApiAuthentication" />
      <add name="BearerAuthentication" type="ApiAuthentication.BearerAuthentication, ApiAuthentication" />
    </modules>
  </authenticationMiddleware>

  <sidekickDelegatingHandlers>
    <modules>
      <add name="ApiThrottling" type="ApiDelegatingHandlers.UserAwareThrottlingHandler, ApiDelegatingHandlers" />
      <add name="VerboseRequestLogger" type="ApiDelegatingHandlers.VerboseRequestLogger, ApiDelegatingHandlers" />
    </modules>
  </sidekickDelegatingHandlers>

  <sidekickEventHandlers>
    <modules>
     
      <add name="AfterEmailSentEventhandler" type="ApiEventHandlers.AfterEmailSentEventhandler, ApiEventHandlers" />

    </modules>

  </sidekickEventHandlers>

  <httpApiHandlersSection>
    <handlers>
      <add name="API_v1" assemblyLocation="ApiHandlers.dll" assemblyIsLocal="true" />
      <add name="SMS_Handler_v1" assemblyLocation="SmsShortcodeHandler.dll" assemblyIsLocal="true" />
      <add name="USSD_Handler_v1" assemblyLocation="UssdAppHandler.dll" assemblyIsLocal="true" />
    </handlers>
  </httpApiHandlersSection>

   <mediaTypeFormatters>
    <formatters>
      <add name="JilMediaTypeFormatter" type="ApiMediaFormatters.JilMediaTypeFormatter, ApiMediaFormatters" />
      <add name="XmlMediaTypeFormatter" type="System.Net.Http.Formatting.XmlMediaTypeFormatter, System.Net.Http.Formatting" />
      <add name="FormUrlEncodedMediaTypeFormatter" type="System.Net.Http.Formatting.FormUrlEncodedMediaTypeFormatter, System.Net.Http.Formatting" />
      <add name="BsonMediaTypeFormatter" type="System.Net.Http.Formatting.BsonMediaTypeFormatter, System.Net.Http.Formatting" /> 
    </formatters>
  </mediaTypeFormatters>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sigil" publicKeyToken="2d06c3494341c8ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.1.0" newVersion="4.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>