<?xml version="1.0"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!--
      <target xsi:type="EventLog" source="SMS Delivery Manager" name="Windows_Event" log="SMS Delivery Manager"
            layout="[${date:format=yy\:MM\:dd HH\:mm\:ss}] [${level:uppercase=true}] [${logger:shortname=true}] ${message} ${exception:format=ToString}">
      </target>
      -->
    <target name="console" xsi:type="ColoredConsole"
            layout="[${date:format=yy\:MM\:dd HH\:mm\:ss}] [${level:uppercase=true}] [${logger:shortname=true}] ${message} ${exception:format=ToString}" />
    <target name="file" xsi:type="File"
            layout="[${date:format=yy\:MM\:dd HH\:mm\:ss}] [${level:uppercase=true}] [${logger:shortname=true}] ${message} ${exception:format=ToString}"
            fileName="${basedir}/log/log.${shortdate}.log" />
    <target name="perf" xsi:type="File"
            layout="[${date:format=yy\:MM\:dd HH\:mm\:ss}] [${level:uppercase=true}] [${logger:shortname=true}] ${message} ${exception:format=ToString}"
            fileName="${basedir}/log/perf.${shortdate}.log" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console,file" />
    <!--<logger minlevel="Fatal" writeTo="console" />
    <logger minlevel="Info" writeTo="console" />
    <logger minlevel="Error" writeTo="console" />-->
    <!--<logger name="perf" minlevel="Info" writeTo="perf" />-->
  </rules>
</nlog>