@font-face {
  font-family: gotham;
  src: url(/font/GOTHAM-BOOK.OTF);
}

body {
  font-family: gotham;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right-10 {
  margin-right: 10px;
}

.session-ui {
  background-color: #222;
  color: white;
  padding: 20px;
}